<style>
  .musis>div {
    margin-bottom: 60px;
  }

  .aplayer {
    border-radius: 8px !important;
  }

  .comment-scroll {
    bottom: 93px;
  }

  .v[data-class=v] .vcards {
    display: none;
  }

  .musis div p {
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
  }

  .musictitle {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    margin-bottom: 0px !important;
  }

  body.dark .musictitle {
    color: rgba(255, 255, 255, 0.6);
  }

  .musiclink {
    margin-bottom: 0px !important;
  }

  .musiclink a {
    margin-bottom: 15px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
  }

  @media only screen and (max-width: 600px) {
    .about-cover {
      height: 64vh;
    }
  }
</style>
<main class="content">
  <div class="container">
    <h3>网易云音乐</h3>
    <div class="card musis">
      <div class="wyya">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
        <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script> 
        <!-- require MetingJS -->
        <script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>
        <meting-js style="margin-top: 1.5rem;width: auto;height: auto;" server="netease" type="playlist" id="3155294100"
          order="random" theme="#ff0000" loop="all" autoplay="false" storageName="aplayer-setting" hideLrc="false">
        </meting-js>
        <style>
          .aplayer {
            margin: 1.5rem 0;
          }

          ol li:before {
            display: none;
          }
        </style>
      </div>
    </div>
  </div>
</main>